
<!-- listings/dictionary_list.html -->
{% extends 'listings/base.html' %}

{% block content %}
<h1>Liste des dictionnaires</h1>
<ul>
    {% for dictionary in dictionaries %}
        <li>
            <a class="dictionary--title" href="{% url 'dictionary-detail' dictionary.id %}">{{ dictionary.name }}</a>
            <div>
                <a href="{% url 'dictionary-update' dictionary.id %}">[modifier le nom]</a>
                <a href="{% url 'dictionary-delete' dictionary.id %}">[Supprimer]</a> 
            </div>
        </li>
    {% endfor %}
</ul>

<a href="{% url 'dictionary-add'%}"> [Ajouter un dictionnaire]</a>
{% endblock %}