<!-- listings/words_list.html -->
{% extends 'listings/base.html' %}

{% block content %}
    <h1>{{ dictionary.name }}</h1>
    <a href="{% url 'new-word' dictionary.id %}">Ajouter un mot</a>

    <!-- Formulaire de recherche -->
    <form method="get" action="{% url 'dictionary-detail' dictionary.id %}">
        {% csrf_token %}
        <div>
            {{ search_form.query.label_tag }} {{ search_form.query }}
            <input type="submit" value="Rechercher">
        </div>
    </form>

    <table>
        <thead>
            <tr>
                <th>Langue source</th>
                <th>Langue cible</th>
                <th>Catégorie</th>
                <th>Nom du dictionnaire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for word in words %}
                <tr>
                    <td>{{ word.source_word }}</td>
                    <td>{{ word.target_word }}</td>
                    <td>{{ word.category.name }}</td>
                    <td>{{ word.dictionary.name }}</td>
                    <td>
                        <a href="{% url 'word-delete' word.id %}">Supprimer</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">Aucun mot trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

